<div>
	<form novalidate name="rentform">
		Id: <input type="text" ng-model="product.id" /><br /> Type: <input
			type="text" ng-model="product.type" /><br /> Location: <input
			type="text" ng-model="product.location" /><br /> Area: <input
			type="text" ng-model="product.area" /><br /> Description: <input
			type="text" ng-model="product.description" /><br /> Name: <input
			type="text" ng-model="product.name" /><br /> Phone: <input
			type="text" ng-model="product.contact" /><br /> Email: <input
			type="email" ng-model="product.email" /><br /> Rent Amount: <input
			type="text" ng-model="product.price" /><br />
		<button ng-click="update(product)">SAVE</button>
	</form>
</div>
