<div>
	<h1>{{name}}</h1>
</div>
<form ng-controller="ProductDetailCtrl" ng-submit="evaluate(result,answers)">
	<div class="form-group">
		<div class="phone">
			<ol>
				<li ng-repeat="question in questions">
					<div>Question: {{question.description}}</div>
					<ol type='A'>
						<li ng-repeat="choice in question.choices">
							<div>
								<input type="radio" name="id_{{question.id}}" value="{{choice.id}}"
									ng-model="choice.userChoice"
									ng-change="checkUserChoice(question.id, choice.userChoice, question.seq)" />
								{{choice.description}}
							</div>
						</li>
					</ul>
				</li>
			</ol>
		</div>
		<!--results section-->
		<div ng-init="showAnswers=true">
			<button ng-click="showAnswers=checkQuizCompleted()">Show Results</button>
			<br /> <br />
		
			<div ng-hide="showAnswers">
				<strong>Results</strong>
		
				<div ng-repeat="answer in answers">id: {{answer.id}} -
					-sequence: {{answer.seq}} {{answer.correct}}</div>
			</div>
		</div>
		<!-- <p><input type="submit" value="evaluate(result)"></p>-->
	</div>
</form>
